

	<!-- Bootstrap core CSS -->
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<!--external css-->
<!-- 	<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
	<link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="assets/lineicons/style.css"> -->

	<!-- Custom styles for this template -->
	<link href="assets/css/style.css" rel="stylesheet">
	<link href="assets/css/style-responsive.css" rel="stylesheet">

	<!-- // <script src="assets/js/chart-master/Chart.js"></script> -->

  <!-- <section id="main-content"> -->
  <!-- <section class="wrapper"> -->
  <div class="container">
    <div class="row mt">
      <div class="col-lg-12">
        <div class="form-panel" style="padding:5em;"  style="height:595.28px; width:841px;">
          <div class="row">
            <div class="col-lg-12">
              <img style="padding-bottom:5em;" src="http://vignette2.wikia.nocookie.net/logopedia/images/e/ee/Burger_King_Logo.svg.png/revision/20120422044236" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h4>Señores</h4> <br>
              <strong>texto-1</strong><br>
              Sus manos <br>
            </div>
            <div class="col-lg-6" style="margin-top:5em;">
             <strong>Ejecutivo: </strong>  <br>
             <strong>Referencia: </strong> <br>
             <strong>Teléfono: </strong> <br>
             <strong>Celular: </strong> <br>
             <strong>E-mail: </strong> <br>
             <strong>Fecha: </strong> <br><br>
           </div>
         </div>
         <div class="row">
          <div class="col-lg-12">
            <div style="margin-left:5em;">
             <strong style="margin-left:-5em;">Atención:</strong>
             <strong><ins>texto-2</ins></strong><br>
             texto-3
           </div>
           <br><br>
         </div>
       </div>
       <div class="row">
        <div class="col-lg-12">
          <strong>Asunto:</strong>
          <strong>Texto-4</strong>
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, iure, aliquam. Illum iure sunt consequuntur officia aliquid quibusdam id, perspiciatis porro! Enim iusto et quis tenetur odio, recusandae consequuntur sed.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur enim iste, voluptate eos aut minus, numquam nam ab ipsa, quam consectetur dolorum omnis, explicabo. Repudiandae magnam dicta ipsa sequi. Consequatur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate adipisci numquam voluptas ducimus quasi, ad earum ratione! Aperiam sint perspiciatis similique consequatur labore iusto, debitis rerum nemo praesentium officiis earum.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <br><br>
          <table class="table table-bordered">
            <thead>
              <th>POS</th>
              <th>DESCRIPCION</th>
              <th>CANT</th>
              <th>PRECIO UNITARIO U$</th>
              <th>PRECIO TOTAL U$</th>
            </thead>
            <tbody>
              <tr>
                <td>texto-5</td>
                <td>texto-6</td>
                <td>texto-7</td>
                <td>texto-8</td>
                <td>texto-9</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>                            
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>                      
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>SUBTOTAL</strong></td>
                <td>calculo de subtotal</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td><strong>IVA (15%)</strong></td>
                <td>calculo más el iva</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>TOTAL</strong></td>
                <td>calculo total</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" >
        <div class="col-lg-12">
          <div class="datos-empresa text-center" style="font-size:10px;">
            Datos de la empresa. Favor dejar dos líneas máximo, con Font 10px.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- </section> -->

<!-- SEGUNDA HOJA -->
<!-- <section class="wrapper " > -->
<div class="container" >
  <div class="row mt">
    <div class="col-lg-12">
      <div class="form-panel" style="padding:5em;">
        <div class="row">
          <div class="col-lg-12">
            <img style="padding-bottom:5em;" src="http://vignette2.wikia.nocookie.net/logopedia/images/e/ee/Burger_King_Logo.svg.png/revision/20120422044236" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="detalles-pago">
              <strong>Forma de pago:</strong> 
              Contado, Tarjeta de crédito, Cheque <br><br>
              <strong>Tiempo de entrega:</strong> Inmediato<br><br>
              <strong>Validez de la oferta:</strong> Treinta (30) días a partir de esta fecha <br> <br>
            </div> 
            <div class="row">
              <div class="col-lg-12">
               <div class="texto-10">
                 <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet dolorem velit suscipit repellat esse, ipsam quis nam at doloribus. Odio iste, officia dicta distinctio assumenda, nulla sed tempora sit. Molestiae qui a tenetur harum illo quidem expedita officiis accusantium eaque officia itaque ullam amet voluptas porro soluta, eum, ratione, minima commodi distinctio quam. A ducimus provident vero quaerat repellat porro quidem saepe commodi hic sunt quis rerum, quae beatae expedita sed totam reiciendis at laborum, libero. Harum ex cum ullam minus. Minima, earum, excepturi! Vero animi aliquam, quas rerum asperiores dolorum architecto blanditiis totam, minus assumenda quam, tempore atque?
                </p>
              </div>
              <br>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
             <p>
              En espera de que nuestra oferta sea de su agrado y conveniencia, y siempre a la orden para cualquier aclaración de la presente, nos suscribimos.

              Muy atentamente,
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="datos-empresa text-center" style="font-size:10px;">
              Datos de la empresa. Favor dejar dos líneas máximo, con Font 10px.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>